/*body {
  margin: 0;
  padding: 0;
  background: #005E51;
}*/


.wrapper {
  position: relative;
  z-index: 2;
  width: 1300px;
  height: 700px;
  border-radius: 8px;
  align-content: center;
}

#slide {
  margin-top: -10px;
  width: 80%;
}
.wrapper .link{
  position: absolute;
  bottom: 56px;
  /*font-family: 'Raleway', sans-serif;*/
  padding: 15px 32px;
  width: 140px;
  border-radius: 10px ;
  background-color: #fff;
  color: black;
  left: 580px;
  text-align: center;
  cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 4px 2px;
    transition-property: background, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
  .link:hover {
    background: #21442e;
    color: white;
    border-radius: 50%;
  }

#wrapper2 {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 1%;
  z-index: 1;
  position: absolute;
}

#wrapper2 h1 {
  text-align: center;
  padding-top: 50px;
  /*font-family: 'Permanent Marker', cursive;*/
  font-size: 3em;
  color: #000;
}

#B {
  color: #660066;
}
#O {
 color: #77aaff;
}
#A {
 color: #00ff6b;
}
#R {
 color: #f0ff00;
}
#D{
 color: #cd3333;
}

#highscore {
  width: 300px;
  height: 300px;
  position: absolute;
  float: right
}

#highscore p {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

/*form {
    max-width: 350px;
    margin:0 auto;
    text-align: center;
    padding-top: 50px;
    z-index: 1;
}

.input {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid #dddddd;
    padding: 13px;
    margin-bottom: 15px;
    width: 80%;
    box-sizing: border-box;
    outline: 0;
    z-index: 1;
}*/

.feedback-input:focus {
    border: 2px solid #dddddd;
}

/*[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 80%;
    background: #cd3333;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}*/

/*[type="submit"]:hover {
    background: #D46A6A;
}*/
