body {
    margin: 0;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #005E51;
    box-shadow: inset 0px 0px 80px -10px rgba(0,0,0,0.75);
    user-select: none;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    /*border: 1px solid #dddddd;*/
    /*background-color: white;*/
}

.container-col {
    /*background-color: black;*/
    /*border-radius: 5px;*/
}

.weekday {
    text-align: center;
    /*height: 80px;*/
}

.day-content {
    margin: auto;
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

.col {
    /*flex-grow: 1;*/
    border-radius: 5px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    box-shadow: inset #dddddd 0 5px 20px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    width: 20%;
    height: 580px;
    /*overflow-y: auto;*/
}

.col-content {
    overflow-y: auto;
    height: 530px;
}

.calendar {
    height: 70px;
}

.calendar-container {
    height: 90vh;
}

.position-relative {
    position: relative;
}

.dudes {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.saldo {
    position: absolute;
    bottom: 10px;
}

.us {
    box-shadow: inset #dddddd 0 5px 20px;
    margin: 0 0 15px 0;
    border-radius: 3px;
    background-color: white;
    width: 100%;
    /*padding: 10px;*/
    box-sizing: border-box;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.us-btn {
    box-shadow: inset #dddddd 0 5px 20px;
    margin: 0 0 15px 0;
    border-radius: 3px;
    background-color: white;
    width: 100%;
    height: 94px;
    /*padding: 10px;*/
    box-sizing: border-box;
    border: 1px solid #dddddd;
    position: relative;
    cursor: pointer;
}

.us-btn:active {
    box-shadow: inset #dddddd 0px 5px 50px;
}

.us-btn-txt {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-img {
    height: 50px;
    width: 50px;
}

.value {
    float: right;
}

.title-userstory {
    background-color: #51A35F;
    color: black;
    border-radius: 3px 3px 0 0;
    padding: 3px;
}

.title-defect {
    background-color: #D46A6A;
    color: black;
    border-radius: 3px 3px 0 0;
    padding: 3px;
}

.title-maintenance {
    background-color: #FFFF00;
    color: black;
    border-radius: 3px 3px 0 0;
    padding: 3px;
}

.values {
    padding: 5px;
}

.head {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    margin: 0 0 5px 0;
    padding: 0;
}

.hidden {
    display: none;
}

.inc-dec {
    width: 50%;
}

.container-wrk {
    display: flex;
    width: 100%;
}

.workers {
    display: flex;
    justify-content: space-around;
    /*align-content: center;*/
    /*border: 1px solid lime;*/
}

.field p {
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: 0 0 5px 0;
}

.float-left {
    float: left;
}

.field {
    flex-grow: 1;
    border-radius: 5px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    box-shadow: inset #dddddd 0 5px 20px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

/*----- WORKER COMPONENT -----*/

.worker-box {
    float: left;
    position: relative;
    width: 30px;
    height: 92px;
    /*margin: auto;*/
    /*background-color: red;*/
}

.worker-img {
    position: absolute;
    left: 5px;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.dice {
    margin: auto;
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.dice-value {

}

/*.tempdice {
    position: absolute;
    top: 0;
    width: 40px;
    margin: 0;
    padding: 0;
}*/

.blueprint {
    width: 500px;
    margin: 0 auto;
    border-color: gray;
    border-radius: 6px;
    border-style: solid;
    box-shadow: inset #dddddd 0 5px 20px;
    background-color: white;
    box-sizing: border-box;
}

.admin_value {
    float: right;
    clear: both;
}
